<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <title>Flare Browser</title>
  <body>
      <div class="container">
    <h1>Flare Browser</h1>
<div class="row">
        <form name="time_select" method='GET'>
        <input type="text" name="this_date" value="{{ this_date }}" />
        <button name="prev_day" type="submit">Previous Day</button>
        <button name="next_day" type="submit">Next Day</button><br>
    </form>
</div><br>
<div class="row">
        <table class="table">
        <thead>
            <tr>
            <td>SOL id</td>
            <td>GOES Class</td>
            <td>Start time</td>
            <td>End time</td>
            <td>x (arcsec)</td>
            <td>y (arcsec)</td>
            </tr>
        </thead>
        <tbody>
    {% for datum in data %}
    <tr>
        <td>{{datum.SOL_standard}}</td>
        <td>{{datum.fl_goescls}}</td>
        <td>{{datum.event_starttime}}</td>
        <td>{{datum.event_endtime}}</td>
        <td>{{datum.hpc_x}}</td>
        <td>{{datum.hpc_y}}</td>
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>
</div>
</body>
</html>
