/* this is for styling the overlay
 * when using header / footer and backimage
 *
 * see metadata in notebook
 */

#rise-header {
    margin: 10px;
    left: 10%;
}

#rise-footer {
    margin: 10px;
    right: 10%;
}

#rise-backimage {
    opacity: 0.20;
}

/* TODO: maybe we need to port this to main.css?  */
.reveal img {
    max-width: 100%;
}

table,td,tr,th {
    border:none!important;
    background-color: rgba(0, 0, 0, 0.0) !important;
}

h1 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}
